.earn {
  padding-top: 56px;
  padding-bottom: 80px;

  &__container {
    display: flex;
    justify-content: space-around;

    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: normal;
      gap: 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 65px;

    @include tablet {
      padding-top: 0;
    }
  }

  &__text {
    margin: 0;
    max-width: 550px;
    font-size: 50px;
    line-height: 1.30023;

    @include minidesk {
      font-size: 40px;
    }

    @include tablet {
      font-size: 30px;
      text-align: center;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__btn {
    display: inline-block;
    border-radius: 16px;
    padding: 20px 35px;
    font-size: 24px;

    @include minidesk {
      padding: 15px 25px;
    }

    @include tablet {
      display: none;
    }
  }

  &__img {
    @include minidesk {
      width: 380px;
    }

    @include tablet {
      width: 300px;
    }

    @include mobile {
      width: 220px;
    }
  }

  @include tablet {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
