.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: var(--curious-blue);

  &__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
      position: relative;
      flex-wrap: wrap;
    }
  }

  &__logo {
    @include tablet {
      flex: 1;
      flex-basis: 32%;
    }

    @include tablet {
      margin-bottom: 44px;
    }
  }

  &__logo-img {
    @include small-tablet {
      width: 72px;
      height: 57px;
    }
  }

  &__list {
    @include tablet {
      flex: 1;
      flex-basis: 68%;
    }

    &--nav {
      @include tablet {
        flex-basis: 32%;
        order: 2;
      }
    }

    &--privacy,
    &--contacts {
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }

    &--privacy {
      @include tablet {
        order: 3;
      }
    }

    &--contacts {
      @include tablet {
        align-content: end;
        order: 1;
      }
    }


  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;

      @include small-tablet {
        margin-bottom: 14px;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: var(--color-light);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      opacity: 0;
      height: 2px;
      background-color: var(--color-light);
      transition: 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &--desk {
      @include small-tablet {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include small-tablet {
        display: inline-block;
      }
    }

    @include small-tablet {
      font-size: 12px;
    }
  }

  &__socials {
    display: flex;
    gap: 29px;

    @include tablet {
      position: absolute;
      right: var(--container-offset);
      bottom: 0;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 35px;
    height: 34px;
    background-color: var(--color-light);
    transition: 0.3s ease;

    &:hover {
      background-color: var(--color-black);
    }

    &:hover .footer__social-icon {
      fill: var(--color-light);
    }

    @include small-tablet {
      width: 24px;
      height: 24px;
    }
  }

  &__social-icon {
    width: 21px;
    height: 21px;
    fill: var(--curious-blue);

    &--telegram {
      margin-right: 2px;
    }

    &--whatsapp {
      margin-left: 1px;

      @include small-tablet {
        margin: 0;
      }
    }

    @include small-tablet {
      width: 14px;
      height: 12px;
    }
  }
}
