.header {
  padding: 6px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 48px;
    width: 96px;
    height: 89px;
  }

  &__btn {
    display: inline-block;
    padding: 14px 49px;
    font-size: 16px;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 60px;
  }

  &__link {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--color-black);
  }
}
