.header {
  padding: 6px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 48px;
    width: 96px;
    height: 89px;

    @include minidesk {
      margin-right: 20px;
    }
  }

  &__btn {
    display: inline-block;
    padding: 14px 49px;
    font-size: 16px;

    @include tablet {
      display: none;
    }

    &--nav {
      display: none;

      @include tablet {
        display: block;
        padding: 14px 60px;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    gap: 60px;

    @include minidesk {
      gap: 30px;
    }

    @include tablet {
      flex-direction: column;
      gap: 20px;
    }

    @include mobile {
      padding-left: 10px;
    }
  }

  &__link {
    position: relative;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--color-black);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      opacity: 0;
      height: 2px;
      background-color: var(--color-black);
      transition: 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    @include tablet {
      font-size: 30px;

      &:hover {
        &::before {
          opacity: 0;
        }
      }
    }

    @include mobile {
      font-size: 20px;
    }
  }

  @include tablet {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    width: 80%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--color-light);
    transform: translateX(200%);
    transition: transform 0.3s ease;
  }

  @include mobile {
    padding: 60px 17px 13px;
  }

  &--active {
    transform: none;
    transition: transform 0.3s ease;
  }
}
