.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, backdrop-filter 0.2s;
  backdrop-filter: blur(5px);

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__box {
    position: relative;
    z-index: 1;
    margin: 40px 20px;
    border-radius: 30px;
    padding: 60px 34px 74px;
    max-width: 500px;
    background-color: var(--color-light);

    &--test {
      padding-right: 63px;
      padding-left: 63px;
      min-width: 500px;
    }

    @include tablet {
      padding: 30px 25px 40px;
    }

    @include mobile {
      border-radius: 20px;
      padding: 25px 25px 20px;
    }


  }

  &__close {
    position: absolute;
    right: 28px;
    top: 25px;
    display: block;

    svg {
      width: 46px;
      height: 47px;
      stroke: var(--color-black);

      @include tablet {
        width: 35px;
        height: 36px;
      }

      @include mobile {
        width: 30px;
        height: 31px;
      }
    }

    @include mobile {
      right: 15px;
      top: 15px;
    }
  }

  &__title {
    // margin: 0;
    margin-bottom: 21px;
    font-size: 30px;

    @include tablet {
      margin-bottom: 6px;
      max-width: 400px;
      font-size: 28px;
    }

    @include mobile {
      font-size: 20px;
      max-width: 280px;
    }
  }

  &__caption {
    display: block;
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 1.2;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 20px;
      max-width: 265px;
      font-size: 14px;
    }
  }

}
