.test {
  padding-top: 80px;
  padding-bottom: 80px;

  &__container {
    padding-right: 160px;
    padding-left: 160px;

    @include small-tablet {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &__inner {
    padding: 50px 15px 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 80px 0px rgba(223, 223, 223, 0.78);
  }

  &__subtitle {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 500px;

    @include tablet {
      margin-bottom: 35px;
      font-size: 20px;
    }

    @include mobile {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    padding: 18px 77px;
    font-size: 22px;

    @include tablet {
      padding: 15px 45px;
      font-size: 18px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
