.webinar {
  padding-top: 182px;
  padding-bottom: 80px;

  &__container {
    position: relative;

    @include mobile {
      padding: 0 7px;
    }
  }

  &__bg {
    position: absolute;
    right: 18px;
    top: -112px;
    width: 287px;
    height: 231px;
    background-image: url("../img/calendar.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      top: -60px;
      width: 133px;
      height: 139px;
    }

    @include small-tablet {
      right: -20px;
    }

    @include mobile {
      top: -25px;
      width: 82px;
      height: 86px;
    }
  }

  &__inner {
    border-radius: 16px;
    padding: 44px 30px;
    background: linear-gradient(136deg, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20px);

    @include mobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 1.414;
    color: rgba(0, 0, 0, 0.64);

    @include tablet {
      font-size: 18px;
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 12px;
      font-size: 12px;
    }
  }

  &__date {
    margin-bottom: 5px;
  }

  &__time {
    margin-bottom: 51px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__date,
  &__time {
    display: block;
    font-size: 36px;
    line-height: 1.36523;
    color: var(--curious-blue);

    @include mobile {
      font-size: 16px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    padding: 18px 77px;
    font-size: 30px;

    @include tablet {
      padding: 16px 80px;
      font-size: 24px;
    }

    @include mobile {
      padding: 14px 90px;
      font-size: 16px;
    }
  }

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
