<footer class="footer">
  <div class="container footer__container">
    <a class="footer__logo"><img class="logo" src="img/footer-logo.svg" alt="SmetaNa logo"></a>
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <a class="footer__link" href="#">Пользовательское соглашение</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Публичная оферта</a>
      </li>
    </ul>
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <a class="footer__link" href="#">Курсы</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Вебинары</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Марафоны</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Интенсивы</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Семинары</a>
      </li>
    </ul>
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <a class="footer__link" href="tel:88000000000">8 (800) 000-00-00</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="email:smetana@gmail.com">e-mail: smetana@gmail.com</a>
      </li>
      <li class="footer__item">
        <div class="footer__socials">
          <a class="footer__social-link" href="#">
            <svg class="footer__social-icon footer__social-icon--telegram">
              <use xlink:href="img/sprite.svg#telegram-footer"></use>
            </svg>
          </a>
          <a class="footer__social-link" href="#">
            <svg class="footer__social-icon footer__social-icon--whatsapp">
              <use xlink:href="img/sprite.svg#whatsapp-footer"></use>
            </svg>
          </a>
          <a class="footer__social-link" href="#">
            <svg class="footer__social-icon footer__social-icon--viber">
              <use xlink:href="img/sprite.svg#viber-footer"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</footer>
