<section class="founder">
  <div class="container founder__container">
    <div class="founder__inner">
      <div class="founder-header">
      <img class="founder-header__img" src="img/founder.png" alt="Photo of founder">
      <p class="founder-header__subtitle founder-header__subtitle--margin centered">Основатель школы, руководитель сметного агенства</p>
      <span class="founder-header__title founder-header__title--margin centered">Екатерина Мартынова</span>
      <ul class="list-reset founder-header__list">
        <li class="founder-header__item">
          <span class="founder-header__title founder-header__title--blue">5 лет</span>
          <span
            class="founder-header__subtitle founder-header__subtitle--black">Практики</span>
        </li>
        <li class="founder-header__item">
          <span class="founder-header__title founder-header__title--blue">более 1000</span>
          <span class="founder-header__subtitle founder-header__subtitle--black">Учеников</span>
        </li>
        <li class="founder-header__item">
          <span class="founder-header__title founder-header__title--blue">500</span>
          <span class="founder-header__subtitle founder-header__subtitle--black">Проектов</span>
        </li>
      </ul>
      </div>
      <div class="founder__content founder-content">
        <ul class="founder-content__list">
          <li class="founder-content__item">Сайт рыбатекст поможет дизайнеру,</li>
          <li class="founder-content__item">верстальщику, вебмастеру</li>
          <li class="founder-content__item">сгенерировать несколько абзацев более менее осмысленного</li>
          <li class="founder-content__item">Сайт рыбатекст поможет дизайнеру,</li>
          <li class="founder-content__item">верстальщику, вебмастеру</li>
          <li class="founder-content__item">сгенерировать несколько абзацев более менее осмысленного Сайт рыбатекст поможет дизайнеру,</li>
          <li class="founder-content__item">верстальщику, вебмастеру</li>
          <li class="founder-content__item">сгенерировать несколько абзацев более менее осмысленного Сайт рыбатекст поможет дизайнеру,</li>
          <li class="founder-content__item">верстальщику, вебмастеру</li>
          <li class="founder-content__item">сгенерировать несколько абзацев более менее осмысленного Сайт рыбатекст поможет дизайнеру,</li>
        </ul>
      </div>
    </div>
  </div>
</section>
