<header class="header">
  <div class="container header__container">
    <a class="header__link" href="#">
      <img class="header__logo" src="img/logo.png" alt="Smetana logo">
    </a>
    <nav class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Курсы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Вебинары</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Марафоны</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Интенсивы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Семинары</a>
        </li>
      </ul>
      <button class="btn-reset btn header__btn header__btn--nav">Войти</button>
    </nav>
    <button class="btn-reset btn header__btn">Войти</button>
    <button class="burger">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
<div class="overlay"></div>
