<section class="salary">
  <div class="container">
    <h2 class="title title--uppercase salary__title centered">Сколько зарабатывает <span class="highlight">сметчик</span></h2>
    <div class="salary__content">
      <div class="salary__hh salary-hh">
        <img class="salary-hh__img" src="img/hh.png" alt="">
        <span class="salary-hh__caption">По данным hh.ru, средняя
        зарплата сметчика — 70 000 ₽</span>
      </div>
      <img class="salary__img" src="img/men-on-chair.png" alt="">
      <div class="salary__card salary-card salary-card--100k">
        <img class="salary-card__img" src="img/salary-100k.jpg" alt="100000 rubles salary">
      </div>
      <div class="salary__card salary-card salary-card--70k">
        <img class="salary-card__img" src="img/salary-70k.jpg" alt="70000 rubles salary">
      </div>
      <div class="salary__card salary-card salary-card--60k">
        <img class="salary-card__img" src="img/salary-60k.jpg" alt="60000 rubles salary">
      </div>
      <div class="salary__card salary-card salary-card--80k">
        <img class="salary-card__img" src="img/salary-80k.jpg" alt="80000 rubles salary">
      </div>
    </div>
  </div>
</section>
