<section class="socials">
  <div class="container">
    <h2 class="title socials__title centered">Подпишись на соц. сети <span class="highlight">Екатерины Мартыновой</span>
    </h2>
    <p class="socials__descr centered">Там все о <span class="highlight">сметном деле</span> глазами лидера рынка</p>
    <ul class="list-reset socials__list">
      <li class="socials__item">
        <a class="socials__link" href="#">

          <span class="socials__subtitle subtitle subtitle--blue subtitle--nonecase">Telegram</span>
          <svg class="socials__icon">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <span class="socials__subtitle subtitle subtitle--blue subtitle--nonecase">Instagram</span>
          <svg class="socials__icon">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="#">
          <span class="socials__subtitle subtitle subtitle--blue subtitle--nonecase">WhatsApp</span>
          <svg class="socials__icon">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
