<section class="webinar">
  <div class="container webinar__container">
    <div class="webinar__bg"></div>
    <div class="webinar__inner">
      <h2 class="title webinar__title centered">Если сомневаетесь — приходите<br><span class="highlight">на бесплатный вебинар</span> вводящий в профессию.
      </h2>
      <p class="webinar__text centered">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного</p>
      <span class="webinar__date centered">25 сентября</span>
      <span class="webinar__time centered">19:00</span>
      <button class="btn btn-reset webinar__btn _modal-open" data-modal-open="modal-reg">Записаться</button>
    </div>
  </div>
</section>
