<section class="where-work">
  <div class="container">
    <h2 class="title title--uppercase where-work__title centered">Где может работать <span class="highlight">сметчик</span></h2>
    <div class="where-work__content">
      <img class="where-work__img" src="img/cartoon-men.png" alt="">
      <ul class="list-reset where-work__list">
        <li class="where-work__item card">
          <h3 class="subtitle subtitle--blue card__subtitle">Сметное дело с 0</h3>
          <ul class="card__list">
            <li class="card__item">Сайт рыбатекст поможет дизайнеру,</li>
            <li class="card__item">верстальщику, вебмастеру</li>
          </ul>
        </li>
        <li class="where-work__item card">
          <h3 class="subtitle subtitle--blue card__subtitle">Сметное дело с 0</h3>
          <ul class="card__list">
            <li class="card__item">Сайт рыбатекст поможет дизайнеру,</li>
            <li class="card__item">верстальщику, вебмастеру</li>
          </ul>
        </li>
        <li class="where-work__item card">
          <h3 class="subtitle subtitle--blue card__subtitle">Сметное дело с 0</h3>
          <ul class="card__list">
            <li class="card__item">Сайт рыбатекст поможет дизайнеру,</li>
            <li class="card__item">верстальщику, вебмастеру</li>
          </ul>
        </li>
        <li class="where-work__item card">
          <h3 class="subtitle subtitle--blue card__subtitle">Сметное дело с 0</h3>
          <ul class="card__list">
            <li class="card__item">Сайт рыбатекст поможет дизайнеру,</li>
            <li class="card__item">верстальщику, вебмастеру</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
