// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1302px;
  --container-offset: 68px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @include small-tablet {
    --container-offset: 25px;
  }

  // colors
  --color-light: #fff;
  --color-black: #000;
  --wild-sand: #f5f5f5;
  --curious-blue: #378ad7;
}
