// базовые подключения
@import "mixins";
@import "vars";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/level";
@import "./components/where-work";
@import "./components/earn";
@import "./components/salary";
@import "./components/webinar";
@import "./components/test";
@import "./components/founder";

@import "./components/footer";

// подключения маленьких компонентов
@import "./components/modal";
@import "./components/reg-form";
@import "./components/test-form";
